@import url("./github-markdown.css");
@import url("./prism.min.css");

.article-detail {
    margin: 2rem auto;
    padding: 0 20px;
    border-radius: 8px;
    overflow: hidden;
}

.article-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.article-meta {
    display: flex;
    gap: 1.5rem;
    font-size: 0.9rem;
    margin-bottom: 2rem;
    color: var(--theme-meta);
}

.article-content {
    padding: 2rem 0;
}

.article-content img {
    max-width: 100%;
    height: auto;
}