.articles-section h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

/* Articles grid */
.articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
}

.article-card {
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    background: var(--theme-block-bg);
}

.article-tags{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 11px;
    padding: 0 8px;
    border-bottom-right-radius: 4px;
    background: #ab7df8;
}

.article-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.article-cover {
    width: 100%;
    height: 160px;
    object-fit: cover;
    display: block;
}

.article-info {
    padding: 1rem;
}

.article-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.article-title a {
    text-decoration: none;
    color: inherit;
}

.article-meta {
    display: flex;
    justify-content: space-between;
    color: var(--theme-meta);
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
}

.article-preview {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-top: 0.5rem;
}


/* Responsive design */
@media (max-width: 768px) {
    .articles-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1rem;
    }

}